body,html {
    direction: rtl;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}
img {
    width: 350px;
    height: 350px;
    border-radius: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right:5%;
}
.blue { 
    color: white;
    background-color: rgb(34, 110, 136);
}
.light_blue{
    background-color: lightblue;
    color: rgb(34, 110, 136);
}
#topNav{
    display: flex;
    justify-content: center;
    align-items: center;
}
#topNav>a{
    text-decoration: none;
    font-size: 17px;
}
#margin_left{
    margin-left: 15px;
    font-weight: bold;
    font-size: 20px;
}
#margin_right{
    margin-right: 15px;
    font-weight: bold;
    font-size: 20px;

}
#main-header-outer-container{
    background-color: rgb(34, 110, 136);
    display: flex;
}
#main-header-profile{
    padding: 0;
    margin: 0;
    display: flex;

   
}
#main-header-profile>li{
    list-style-type: none;
    margin-left: 20px;
    background-color: lightblue;
    padding: 3px;
    border-radius: 3px;
    width: 70px;
    text-align: center;
    font-size: 10px;
    color: white;
}
#main{
    margin-left:25%;
    margin-right:50px;
}
#main-header-experience{
    position: relative;
    left: 30px;
}
.relative{
    position: relative;
    right: 40px;
    
}

#main-header-experience>li{
    margin-top:50px;
}
.icon{
    position: relative;
    top: 15px;
}


.pic-and-par{
    display: flex;
}
.par{
    margin-right: 350px;
    font-size: 25px;
    
}
.par1{
    width: 400px;
    height: 300px;
   
}
#name{
    border-bottom: 5px solid black;
   
}
#mail{
    border-bottom: 5px solid black;
}

#text{ 
    background-color: teal;
    display: flex;
    justify-content: center;
    padding: 15px;
}
#send{
    margin-right: 45%;

}

#done{
    display: flex;
    background-color: lightslategray;
    padding-right: 45%;}

#w3review{
    text-align: center;
}
   




